{% extends "Base.html" %}

{% load static %}  

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'SlackCss/ChatSend.css' %}">
{% endblock %}

{% block content %}
<body class="text-center">
    <a class="btn btn-primary" href="../Chat">ChatRoom</a>
        {% if error %}{{ error }}{% endif %}
            <a>{% if user.is_authenticated %}</a>
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                <input type="hidden" name="username" value="{{ user.username }}">
                <textarea name="text" cols="100" rows="10"></textarea><br>
                <input type="file" name="image">
                <input type="submit">
            </form>
            {% else %}
                <p>ログインしていません</p>
            {% endif %}
</body>
{% endblock %}