{% extends "Base.html" %}

{% load static %}  

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'SlackCss/SignUp.css' %}">
{% endblock %}

{% block content %}
<body class="text-center">
    <div >
        <form method="POST" action="" >{% csrf_token %}
        <div class="SignUpMenu">
        {% if error %}{{ error }}{% endif %}
        <a href="../Login">Login Page</a>
        <h3>{% if success %}{{ success }}<a href="../Login">Login Page</a>{% endif %}</h3>
        <div class="TypoBox">
            <a>名前:　　　　</a><input type="text" name="username" placeholder="username">
        </div>
        <div class="TypoBox">
            <a>パスワード:　</a><input type="text" name="password" placeholder="password">
        </div>
        <div class="TypoBox">
            <input type="submit" class="btn btn-primary" value="Sign Up">
        </div>
        </div>
        </form>
    </div>
</body>
{% endblock %}